<div class="login_form">

  <div class="page-header">
    <h1>Login to play Evil Hangman <small> Gecko</small></h1>
  </div>

  <% if params[:alert] %>
      <p class="alert alert-error" id="notice"><%= params[:alert] %></p>
  <% end %>


  <div class="row">
    <div class="span4">
      <%= form_tag do %>
          <fieldset class="form-horizontal">

            <div class="control-group">
              <label for="username"></label>
              <%= text_field_tag :username, params[:name], :placeholder => "Username"%>
            </div>

            <div class="control-group">
              <label for="password"></label>
              <%= password_field_tag :password, params[:password], :placeholder => "Password"%>
            </div>

            <div>
              <%= submit_tag "Login", :class=> "btn btn-info "%>

            </div>
          </fieldset>
      <% end %>
      <div>
        <%= link_to 'Register', new_user_path(), :method => 'GET' %>
        or
        <%= link_to 'Play Anonymously', playAnonymously_path(), :method => 'GET' %>
      </div>

    </div>

    <div class="span4">
      <h5>Love to play Hangman? Challenge yourself with Evil Hangman!
        Evil Hangman keeps a set of words that could be answers and tries to outmaneuver
        you by keeping the largest list of possible solutions it can, thus making the game
        as long and difficult as possible. Create an account to keep track of your games,
        and high scores, or play anonymously. </h5>
    </div>

    <div class="span4">

      <%= image_tag("gecko.jpg", :alt => "rails pic", :size => "260x180") %>
    </div>

  </div>
</div>
