<div class="login_form">
  <% if params[:notice] %>
      <p id="notice"><%= params[:notice] %></p>
  <% end %>

  <%= form_tag do %>
      <fieldset>
        <legend>Log In to Evil Hangman</legend>

        <div>
          <label for="username">Name:</label>
          <%= text_field_tag :username, params[:name] %>
        </div>

        <div>
          <label for="password">Password:</label>
          <%= password_field_tag :password, params[:password] %>
        </div>

        <div>
          <%= submit_tag "Login" %>
        </div>

      </fieldset>
  <% end %>
</div>

<div>
  <%= link_to 'Register', new_user_path(), :method => 'GET' %>
  or
  <%= link_to 'Play Anonymously', playAnonymously_path(), :method => 'GET' %>
</div>
