<h1>Listing history_entries</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @history_entries.each do |history_entry| %>
  <tr>
    <td><%= history_entry.user_id %></td>
    <td><%= link_to 'Show', history_entry %></td>
    <td><%= link_to 'Edit', edit_history_entry_path(history_entry) %></td>
    <td><%= link_to 'Destroy', history_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New History entry', new_history_entry_path %>
