<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user account from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Enter your information and click save to start playing!</legend>
    <div class="row">
      <div class="span6">
        <span class="label label-info">Username</span>
        <%= f.text_field :username, :size => 40 %>
      </div>
      <div class="span6">
        <span class="label label-info">Image url (not required)</span>
        <%= f.text_field :profile_image_url %>
      </div>

    </div>
    <div class="row">
      <div class="span6">
        <span class="label label-info">Password</span>
        <%= f.password_field :password, :size => 40 %>
      </div>

      <div class="span6">
          <span class="label label-info">Confirm Password</span>
          <%= f.password_field :password_confirmation, :size => 40 %>
      </div>


     </div>

      <div>
        <%=  f.submit %>
      </div>

  </fieldset>
<% end %>
