<!DOCTYPE html>
<html>
<head>
  <title>EvilHangman2</title>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
<div class = "row-fluid">
<div class = "span12">
<div class = "hero-unit">
<%= yield %> 
  <% if session[:user_id] %>
    <br/>
    <%= button_to 'Logout', logout_path, :method => :delete %>
  <% end %>
</div>
</div>
</div>
</div>
</body>
</html>
