<!DOCTYPE html>
<html>
<head>
  <title>EvilHangman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheezt_link_tag    "my_css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
    <br/>
    <div class="navbar mainnav">
      <div class="navbar-inner">
        <strong class="brand">Evil Hangman</strong>
        <ul class="nav">
          <li><%= link_to 'Home', game_path %></li>
          <li><%= link_to 'New Game', hangman_path(), :method => 'GET' %></li>
          <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
<% end %>
<div class="main">
  <%= yield %>
</div>
</body>
</html>
